version: "3.9"

services:

  loki:
    image: grafana/loki:latest
    deploy:
      labels:
        - traefik.enable=true
        - traefik.swarm.lbswarm=false
        - traefik.swarm.network=docker2docker
        - traefik.http.routers.grafana_loki.entrypoints=web,websecure
        - traefik.http.routers.grafana_loki.rule=Host(`loki.docker.local`)
        - traefik.http.services.grafana_loki.loadbalancer.server.port=3100
        - traefik.consulcatalog.connect=true
      replicas: 1
      mode: replicated
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
      endpoint_mode: vip
      resources:
        limits:
          memory: 1G
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    environment:
      SERVICE_NAME: "loki"
      SERVICE_TAGS: "logs"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./config/loki/local-config.yaml:/etc/loki/local-config.yaml:rw
    # ports:
    #   - "3100:3100"
    networks:
      - docker2docker

  alloy:
    image: grafana/alloy:latest
    deploy:
      labels:
        - traefik.enable=true
        - traefik.swarm.lbswarm=false
        - traefik.swarm.network=docker2docker
        - traefik.http.routers.alloy_server.entrypoints=web,websecure
        - traefik.http.routers.alloy_server.rule=Host(`alloy.docker.local`)
        - traefik.http.services.alloy_server.loadbalancer.server.port=12345
        - traefik.consulcatalog.connect=true
      replicas: 1
      mode: replicated
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
      endpoint_mode: vip
      resources:
        limits:
          memory: 1G
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    environment:
      SERVICE_NAME: "alloy"
      SERVICE_TAGS: "alloy,logs"
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/alloy/config.alloy:/etc/alloy/config.alloy:rw
    networks:
      - docker2docker

  tempo:
    image: grafana/tempo:latest
    deploy:
      labels:
        - traefik.enable=true
        - traefik.swarm.lbswarm=false
        - traefik.swarm.network=docker2docker
        - traefik.http.routers.grafana_tempo.entrypoints=web,websecure
        - traefik.http.routers.grafana_tempo.rule=Host(`tempo.docker.local`)
        - traefik.http.services.grafana_tempo.loadbalancer.server.port=3200
        - traefik.consulcatalog.connect=true
      replicas: 1
      mode: replicated
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
      rollback_config:
        parallelism: 1
        delay: 5s
        failure_action: pause
        monitor: 60s
        max_failure_ratio: 0.3
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      endpoint_mode: vip
      resources:
        limits:
          memory: 1G
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      SERVICE_NAME: "tempo"
      SERVICE_TAGS: "tracing"
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./config/tempo/tempo.yaml:/etc/tempo.yaml:rw
      - tempo_data:/tmp/tempo
    user: "0:0"
    # ports:
    #   - "3200:3200" # tempo
    #   - "9095:9095" # tempo grpc
    #   - "4317:4317" # otlp grpc
    #   - "4318:4318" # otlp http
    #   - "9411:9411" # zipkin
    networks:
      - docker2docker

  mimir:
    image: grafana/mimir:latest
    deploy:
      labels:
        - traefik.enable=true
        - traefik.swarm.lbswarm=false
        - traefik.swarm.network=docker2docker
        - traefik.http.routers.grafana_mimir.entrypoints=web,websecure
        - traefik.http.routers.grafana_mimir.rule=Host(`mimir.docker.local`)
        - traefik.http.services.grafana_mimir.loadbalancer.server.port=8080
        - traefik.consulcatalog.connect=true
      replicas: 1
      mode: replicated
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
      rollback_config:
        parallelism: 1
        delay: 5s
        failure_action: pause
        monitor: 60s
        max_failure_ratio: 0.3
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      endpoint_mode: vip
      resources:
        limits:
          memory: 2G
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      SERVICE_NAME: "mimir"
      SERVICE_TAGS: "metrics,storage"
    command: ["-config.file=/etc/mimir.yaml"]
    volumes:
      - ./config/mimir/mimir.yaml:/etc/mimir.yaml:rw
      - mimir_data:/data
    user: "0:0"
    # ports:
    #   - "8080:8080"   # HTTP
    #   - "9009:9009"   # gRPC
    networks:
      - docker2docker

  grafana:
    image: grafana/grafana-oss:main
    deploy:
      labels:
        - traefik.enable=true
        - traefik.swarm.lbswarm=false
        - traefik.swarm.network=docker2docker
        - traefik.http.routers.grafana_oss.entrypoints=web,websecure
        - traefik.http.routers.grafana_oss.rule=Host(`grafana.docker.local`)
        - traefik.http.services.grafana_oss.loadbalancer.server.port=3000
        - traefik.consulcatalog.connect=true
      replicas: 1
      mode: replicated
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
      endpoint_mode: vip
      resources:
        limits:
          memory: 1G
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    environment:
      SERVICE_NAME: "grafana"
      SERVICE_TAGS: "dashboard"
      # https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#override-configuration-with-environment-variables
      GF_APP_MODE: "production"
      GF_SERVER_PROTOCOL: "http"
      GF_SERVER_DOMAIN: "docker.local"
      GF_SERVER_ENABLE_GZIP: "true"
      GF_DATABASE_TYPE: "postgres"
      GF_DATABASE_URL: "postgres://root:${DOCKER_SECRET_DB}@db_postgres:5432/grafana?sslmode=disable"
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: ${DOCKER_SECRET_DB}
      GF_SECURITY_ADMIN_EMAIL: "rdgacarvalho@gmail.com"
      GF_NEWS_NEWS_FEED_ENABLED: "false"
      GF_PLUGINS_PREINSTALL: "redis-datasource,redis-explorer-app"
      GF_FEATURE_TOGGLES_ENABLE: "alertingSimplifiedRouting,alertingQueryAndExpressionsStepMode"
      GF_AUTH_ANONYMOUS_ORG_ROLEL: "Admin"
    # ports:
    #   - '3000:3000'
    volumes:
      - grafana:/var/lib/grafana
      - ./config/grafana/:/etc/grafana/provisioning/:rw
    networks:
      - docker2docker

volumes:
  grafana:
    driver: local
  tempo_data:
    driver: local
  mimir_data:
    driver: local

networks:
  docker2docker:
    external: true
